<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd">
    <aop:aspectj-autoproxy/>
    <context:component-scan base-package="com.zxk"/>
    <!-- <bean id="userService" class="com.zxk.service.impl.UserServiceImpl"/>-->
    <!--  <bean id="aop" class="com.zxk.service.aop.AopAdvice"/>-->
    <!-- <aop:config>
         &lt;!&ndash;<aop:pointcut id="pt" expression="execution(public void com..impl.UserServiceImpl.show(..))"/>
     &ndash;&gt;
         <aop:pointcut id="pt" expression="execution(* *..*(..))"/>
         <aop:aspect ref="aop">
             <aop:before method="function" pointcut-ref="pt"/>
             <aop:after method="ss" pointcut-ref="pt"/>
         </aop:aspect>
     </aop:config>-->


    <!-- <aop:config>
         <aop:pointcut id="pt" expression="execution(* *..*(..))"/>
         <aop:aspect ref="aop">
            &lt;!&ndash; <aop:before method="before" pointcut-ref="pt"/>
             <aop:before method="before1" pointcut="execution(* *..*(*)) &amp;&amp; args(x)"/>
             <aop:around method="around" pointcut-ref="pt"/>&ndash;&gt;

             <aop:after-returning method="afterReturning" pointcut-ref="pt" returning="ret"/>
             <aop:around method="around" pointcut-ref="pt"/>
         </aop:aspect>
     </aop:config>-->

    <!--<aop:config>
        <aop:pointcut id="pt" expression="execution(* *..*(..))"/>
        <aop:aspect ref="aop">
            <aop:after-throwing method="afterThrowing" pointcut-ref="pt" throwing="t"/>
            <aop:around method="around" pointcut-ref="pt"/>
        </aop:aspect>
    </aop:config>-->
</beans>